---
const { globalIssues, unavailableFeatures, unimplementedFeatures } =
  Astro.props;
---

<!-- Global issues -->{
  (!!globalIssues?.length ||
    !!unavailableFeatures?.length ||
    !!unimplementedFeatures?.length) && (
    <div id="globalIssues" class="global-issues mt-5 mb-5 scrollspy">
      {!!globalIssues?.length && (
        <div>
          <h2 class="title bold mb-3">Global issues</h2>
          <p>
            The issues listed below are present in most or all of the devices
            depending on the technology they are built on.
          </p>
          <ul class="pb-3">
            {globalIssues.map((issue) => (
              <li class="pt-3">
                <p class="bold pb-2">
                  {issue.feature}
                  <a
                    class="ps-3"
                    href={issue.link}
                    target="_blank"
                    rel="noreferrer noopener"
                  >
                    <img
                      class="dark-invert float-end"
                      src={issue.linkImg.src}
                      alt="Bugtracker"
                    />
                  </a>
                </p>
                <p class="ps-4 pt-2">{issue.description}</p>
                <p class="ps-4 pt-2">{issue.appliesTo}</p>
              </li>
            ))}
          </ul>
        </div>
      )}

      {(!!unavailableFeatures?.length || !!unimplementedFeatures?.length) && (
        <div>
          <h2 class="title bold mb-3">Unsupported features</h2>
          {!!unavailableFeatures?.length && (
            <>
              <p>
                The device hardware does not support these features, if you need
                them, please consider a different device.
              </p>
              <ul class="unsupported-features pt-2 ms-4">
                {unavailableFeatures.map((feature) => (
                  <li class="ps-1">{feature.name}</li>
                ))}
              </ul>
            </>
          )}
          {!!unimplementedFeatures?.length && (
            <>
              <p>
                Some features on the device are not implemented on Ubuntu Touch:
              </p>
              <ul class="unimplemented-features pt-2 ms-4">
                {unimplementedFeatures.map((feature) => (
                  <li class="ps-1">{feature.name}</li>
                ))}
              </ul>
            </>
          )}
        </div>
      )}
    </div>
  )
}
