---
import Page from "@layouts/Page.astro";

import SearchSidebar from "@components/devices/SearchSidebar.astro";
import DonateBanner from "@components/DonateBanner.astro";

const { pageMeta } = Astro.props;
---

<Page pageMeta={pageMeta}>
  <SearchSidebar />
  <!-- Content -->
  <div class="content">
    <DonateBanner />
    <main>
      <slot />
    </main>
  </div>
</Page>
